.u-center-text {
  text-align: center !important;
}

.u-border-bottom {
  border-bottom: 1px solid rgba(var($--theme-primary), 0.2);
}

.u-border-top {
  border-top: 1px solid rgba(var($--theme-primary), 0.2);
}

.u-margin-bottom-big {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 1rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 0.5rem !important;
}

.u-margin-top-medium {
  margin-top: 1rem !important;
}

.u-margin-top-small {
  margin-top: 0.5rem !important;
}
