.error {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
  }

  &__text {
    font-size: 1.4rem;
    color: rgba($color-red, 0.6);
  }

  &__icon {
    font-size: 1.4rem;
    color: $color-red;
  }
}
