// Plain CSS variables for themes
$--theme-background: --theme-background;
$--theme-primary: --theme-primary;
$--theme-on-background: --theme-on-background;

// Colors (theme independent)
$color-gray: #6c757d;
$color-gray-light: #dfdfdf;
$color-gray-dark: #343a40;

$color-green: #8dc647;
$color-green-dark: #7ab52b;
$color-brown-orange: #b18c20;
$color-blue: #007bff;
$color-red: #e15241;
